<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>upload_image</key>
	<string>https://pwcdo.gits.app/upload/upload</string>
	<key>get_image</key>
	<string>https://pwcdo.gits.app/upload/images/</string>
</dict>
</plist>
